@charset "utf-8";

/* main body format */
html{
    background-color: #287AB8;
}
header{
    background-color: azure;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 
}
body.index{
    background-color: #34A56F;
    margin:-60px 70px 0px;
    background-image:url("earth.jpg");
    /* Image taken from google, https://www.pinterest.com/pin/257901516136236602/ */
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
body{
    background-color: darkgray;
    margin: 0px 70px;
}
footer{
    background-color: green;
    font-size:20px;
    text-align: center;
}
header li{
    border-style:solid ;
    border-color: aqua;
    border-width: 2px;
    display: block;
    display: inline;
    font-size:30px;
    font-family: 'Times New Roman', Times, serif;
}
header ul{
    text-align: left;
    margin-left: -39px;
    margin-top: -24px;
}
footer#about{
    background-image: url(apexbanner.png);
    /* image taken from google, https://www.ea.com/games/apex-legends/maps#storm-point */
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}
footer.sp{
    background-image: url(splogo.png);
    /* image taken from google, https://logovectordl.com/singapore-polytechnic-logo-vector-svg/*/
    background-position: center;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}
footer.save{
    background-image: url(greenery.jpg);
    /* image taken by google, https://stock.adobe.com/sg/search?k=acacia%20leaves*/
    border-style: solid;
    border-color: black;
    border-width: 5px;
}


/* video format */
iframe.index{
    width:900px;
    height: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    padding: 10px;
}
video#workout{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
iframe.apex{
    width: 550px;
    height: 350px;
    padding: 25px;
    display: inline;
    margin-left: 57px;
}


/* image formats */
img#me{
    padding: 5px;
    border-style: groove;
    border-color: black;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
img.apex{
    width: 1300px;
    height: 500px;
    border-style: groove;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 10px;
}
img.food{
    width: 300px;
    height: 300px;
    display: inline;
    padding: 5px;
    margin-left: 24px;
    box-shadow: 0px 0px 20px #1F51FF;
}
img#SPpledge{
    padding: 10px;
    width: 1000px;
    height: 600px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(white,grey);
}
img.club{
    height: 300px;
    width: 350px;
    margin-left: 70px;
    display: inline;
    padding: 7px;
    border-style: solid;
    border-color: black;
}
img#spwork{
    display: flex;
    margin: 0px auto;
    padding: 10px;
    background-image: linear-gradient( blue, green);
}
img#earth{
    width: 900px;
    height: 500px;
    display: flex;
    margin: 0px auto;
}
img.solutions{
    height: 400px;
    width: 400px;
    display: flex;
    padding: 20px;
    margin: 0px auto;
    background-image: url(earth.jpg);
    /* same image as before */
}


/* text format */
/* general pages */
h1{
    text-align: center;
    font-size: 55px;
    background-color: black;
    color: goldenrod;
    padding: 5px;
}
blockquote.expl{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    border-style: double solid;
    border-color: chocolate;
    border-radius: 10px;
    padding: 10px;
}
footer a:hover{
    border-style: solid;
}
a:hover{
    padding: 10px;
}

/* main page */
h1.index{
    font-size: 80px;
}
footer a{
    text-align: center;
    font-size:25px;
    color: black;
    color:rgba(0, 0, 0, 0.6);
    text-decoration:dashed underline;
}
header a{
    color: black;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
    color: limegreen;
}


/* about page */
h1.about{
    text-align: center;
    font-size: 35px;
    background-color: black;
    color: goldenrod;
}
b.about{
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;   
    background-color: black;
    color: goldenrod;
    padding: 10px;
}
blockquote#about{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}
b.text{
    color: goldenrod;
    background-color: black;
    text-decoration: underline;
}
b#rampart{
    color: #f62fa6;
}
b.apex{
    color: #A4373D;
}
a.about{
    font-size: 20px;
    text-decoration: none;
    background-color: black;
    color: gold;
    text-align: center;
}
a.song{
    color: black;
}
ul li{
    list-style: none;
}
ul li#jpop:before{
    content: '';
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: 40px;
    background-image: url(kenshi.jpg);
    /* image taken from google from artist's channel logo, https://www.youtube.com/@KenshiYonezu */
    background-repeat: no-repeat;
    margin-right: 5px;
}
ul li#classic:before{
    content: '';
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: 40px;
    background-image: url(classical.jpg);
    /* taken from classical music channel logo, https://www.youtube.com/@HALIDONMUSIC */
    background-repeat: no-repeat;
    margin-right: 5px;
}
ul li#metal:before{
    content: '';
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: 40px;
    background-image: url(slipknot.jpg);
    /* image taken from google from artist's channel logo, https://www.youtube.com/@slipknot */
    background-repeat: no-repeat;
    margin-right: 5px;
}
ul li#rock:before{
    content: '';
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: 40px;
    background-image: url(rock.jpg);
    /* image taken from google from ACDC's channel logo, https://www.youtube.com/channel/UCB0JSO6d5ysH2Mmqz5I9rIw */
    background-repeat: no-repeat;
    margin-right: 5px;
}
ul li#rap::before{
    content: '';
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: 40px;
    background-image: url(bbno$.jpg);
    /* image taken from google from artist's channel logo, https://www.youtube.com/@bbnomoney */
    background-repeat: no-repeat;
    margin-right: 5px;
}
ul li#pop:before{
    content: '';
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: 40px;
    background-image: url(pop.jpg);
    /* image taken from google from twentyonepilots's channel logo, https://www.youtube.com/@twentyonepilots */
    background-repeat: no-repeat;
    margin-right: 5px;
}

/* SP page */
b#splogo{
    color: rgba(234,19,49,255);
}
h2.sp{
    text-align: center;
    background-color: green ;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    padding: 5px;
}
b#spenv{
    color: green;
}
a.sp{
    background-color: black;
    color: azure;
    font-size: larger;
    text-decoration: none;
}


/* save earth page */
h2.earth{
    padding: 10px;
    background-color: black;
    color: #1589FF;
    font-size: x-large;
    text-align: center;
}
b.earth{
    background-color: black;
    color: goldenrod;
    padding: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
p#expl{
    font-family: monospace;
}
b.RRR{
    color: limegreen;
    background-color: black;
    padding: 1px;
}
ul li#plastic:before{
    content: '';
    display: inline-block;
    height: 100px;
    width: 100px;
    background-size: 100px;
    background-image: url(noplastic.jpg);
    /* <!-- taken from google search, https://www.fnp.com/blog/easy-ways-to-say-no-to-plastic--> */
    background-repeat: no-repeat;
    margin-right: 5px;
}
ul li#food:before{
    content: '';
    display: inline-block;
    height: 100px;
    width: 100px;
    background-size: 100px;
    background-image: url(lesswaste.jpg);
    /* <!-- taken from google search, https://veganuary.com/reduce-food-waste/--> */
    background-repeat: no-repeat;
    margin-right: 5px;
}
ul li#aware:before{
    content: '';
    display: inline-block;
    height: 100px;
    width: 100px;
    background-size: 100px;
    background-image: url(awareness.jpg);
    /* <!-- taken from google search, https://environment.co/6-ways-to-raise-awareness-about-environmental-issues/--> */
    background-repeat: no-repeat;
    margin-right: 5px;
    
}
a.save{
    color: white;
    text-decoration: none;
}